apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-nginx-altinn-proxy
  name: fdk-nginx-altinn-proxy
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-nginx-altinn-proxy
    spec:
      containers:
        - env:
          - name: ALTINN_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: ALTINN_URI
                optional: true
          envFrom:
          - secretRef:
              name: fdk-altinnproxy-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}-brreg-altinn-key
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: fdk-nginx-altinn-proxy
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_NGINX_ALTINN_PROXY_MEMORY" .Values.FDK_NGINX_ALTINN_PROXY_MEMORY | quote }}
      restartPolicy: Always
status: {}