apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: new-concept-harvester
  name: new-concept-harvester
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: new-concept-harvester
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: new-concept-harvester
    spec:
      containers:
        - env:
          - name: FDK_SPARQL_SERVICE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_SPARQL_SERVICE_URI
          - name: FDK_CONCEPT_HARVESTER_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_CONCEPT_HARVESTER_BASE_URI
          - name: RABBIT_USERNAME
            valueFrom:
              secretKeyRef:
                name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_USERNAME
          - name: RABBIT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_PASSWORD
          - name: HARVEST_ADMIN_ROOT_URL
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_HARVEST_ADMIN_API_URI
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: MONGO_USERNAME
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: MONGO_PASSWORD
          - name: SSO_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: SSO_BASE_URI
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: new-concept-harvester
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_CONCEPT_HARVESTER_MEMORY" .Values.FDK_CONCEPT_HARVESTER_MEMORY | quote }}
      restartPolicy: Always
status: {}