apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-metadata-quality-service
  name: fdk-metadata-quality-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-metadata-quality-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-metadata-quality-service
    spec:
      containers:
      - env:
        - name: MONGO_HOST
          valueFrom:
            secretKeyRef:
              name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: MONGO_HOST
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: MONGO_USERNAME
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: MONGO_PASSWORD
        - name: RABBIT_USERNAME
          valueFrom:
            secretKeyRef:
              name: rabbit-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_USER
        - name: RABBIT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbit-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_PASS
        - name: RABBIT_HOST
          valueFrom:
            secretKeyRef:
              name: rabbit-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_HOST
        - name: RABBIT_PORT
          valueFrom:
            secretKeyRef:
              name: rabbit-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_PORT
        - name: DATASET_HARVESTER_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_DATASET_HARVESTER_BASE_URI
        name: fdk-metadata-quality-service
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_METADATA_QUALITY_SERVICE_MEMORY" .Values.FDK_METADATA_QUALITY_SERVICE_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
status: {}
