apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-admin-gui
  name: fdk-admin-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-admin-gui
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-admin-gui
    spec:
      containers:
      - env:
        - name: OIDC_ISSUER
          valueFrom:
            secretKeyRef:
              name: keycloak
              key: KEYCLOAK_OIDC_ISSUER
        - name: FDK_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: FDK_BASE_URI
        - name: FDK_HARVEST_ADMIN_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: ADMIN_API_BASE_URI
        - name: FDK_REGISTRATION_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: CATALOG_PORTAL_BASE_URI
        - name: ORGANIZATION_CATALOG_URI
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: ORGANIZATION_CATALOG_BASE_URI
        - name: FDK_CMS_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: FDK_CMS_BASE_URI
        - name: USE_DEMO_LOGO
          valueFrom:
            secretKeyRef:
              name: common
              key: USE_DEMO_LOGO
              optional: true
        name: fdk-admin-gui
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_ADMIN_GUI_MEMORY" .Values.FDK_ADMIN_GUI_MEMORY | quote }}
            cpu: {{ required "Missing value FDK_ADMIN_GUI_CPU" .Values.FDK_ADMIN_GUI_CPU | quote }}
          limits:
            memory: {{ required "Missing value FDK_ADMIN_GUI_MEMORY" .Values.FDK_ADMIN_GUI_MEMORY | quote }}
      restartPolicy: Always
