apiVersion: v1
kind: Service
metadata:
  annotations:
    beta.cloud.google.com/backend-config: '{"ports":{"8080":"staging-cloud-armor-backend"}}'
  creationTimestamp: null
  labels:
    fdk.service: fdk-nginx-registration
  name: fdk-nginx-registration
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    fdk.service: fdk-nginx-registration
status:
  loadBalancer: {}