apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: terms-and-conditions-gui
  name: terms-and-conditions-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: terms-and-conditions-gui
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: terms-and-conditions-gui
    spec:
      containers:
        - env:
          - name: OIDC_ISSUER
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: OIDC_ISSUER
          - name: FDK_REGISTRATION_BASE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_REGISTRATION_BASE_URI
          - name: TERMS_AND_CONDITIONS_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_TERMS_AND_CONDITIONS_BASE_URI
          - name: ADMIN_GUI_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: ADMIN_GUI_BASE_URI
          - name: CATALOG_ADMIN_BASE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: CATALOG_ADMIN_BASE_URI
          - name: SEARCH_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_PORTAL_BASE_URI
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: terms-and-conditions-gui
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{  required "Missing value TERMS_AND_CONDITIONS_GUI_MEMORY" .Values.TERMS_AND_CONDITIONS_GUI_MEMORY | quote }}
      restartPolicy: Always
status: {}