apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: sso
  name: sso
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: sso
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: sso
    spec:
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAMESPACE
        - name: KEYCLOAK_ADMIN
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_USER
        - name: KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_PASSWORD
        - name: KC_DB
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DB_VENDOR
        - name: KC_DB_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NEW_DB_URL
        - name: KC_DB_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER
        - name: KC_DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PASSWORD
        - name: USER_API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_API_KEY
        - name: FDK_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_CLIENT_SECRET
        name: sso
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value SSO_MEMORY" .Values.SSO_MEMORY | quote }}
      restartPolicy: Always
status: {}
