apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: sso
  name: sso
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: sso
    spec:
      containers:
      - env:
        - name: KEYCLOAK_USER
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_USER
        - name: KEYCLOAK_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_PASSWORD
        - name: KEYCLOAK_LOGLEVEL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_LOGLEVEL
        - name: PROXY_ADDRESS_FORWARDING
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_PROXY_ADDRESS_FORWARDING
        - name: IDPORTEN_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: IDPORTEN_CLIENT_ID
        - name: IDPORTEN_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: IDPORTEN_CLIENT_SECRET
        - name: IDPORTEN_OIDC_ROOT
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: IDPORTEN_OIDC_ROOT
        - name: SSO_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_BASE_URI
        - name: REGISTRATION_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_BASE_URI
        - name: DEV_REGISTRATION_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_REGISTRATION_HOST
              optional: true
        - name: CONCEPT_CATALOGUE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CONCEPT_CATALOGUE_GUI_BASE_URI
        - name: DEV_CONCEPT_CATALOGUE_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_CONCEPT_CATALOGUE_HOST
              optional: true
        - name: FDK_ADMIN_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_GUI_BASE_URI
        - name: DEV_FDK_ADMIN_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_FDK_ADMIN_GUI_HOST
              optional: true
        - name: RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RECORDS_OF_PROCESSING_ACTIVITIES_GUI_BASE_URI
        - name: DEV_RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
              optional: true
        - name: EMAIL_VERIFY
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: EMAIL_VERIFY
        - name: SMTP_FROM
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FROM
        - name: SMTP_FROM_NAME
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FROM_NAME
        - name: SMTP_HOST
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: HOST
        - name: SMTP_USER
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER
        - name: SMTP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PASSWORD
        - name: DB_VENDOR
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DB_VENDOR
        - name: DB_ADDR
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DB_ADDR
        - name: DB_DATABASE
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DB_DATABASE
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER
        - name: DB_SCHEMA
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DB_SCHEMA
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PASSWORD
        - name: DIFI_CLIENT_ID
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_CLIENT_ID
        - name: DIFI_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_CLIENT_SECRET
        - name: DIFI_OIDC_TOKEN_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_OIDC_TOKEN_URL
        - name: DIFI_OIDC_JWKS_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_OIDC_JWKS_URL
        - name: DIFI_OIDC_AUTHORIZATION_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_OIDC_AUTHORIZATION_URL
        - name: DIFI_OIDC_LOGOUT_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_OIDC_LOGOUT_URL
        - name: DIFI_OIDC_ISSUER
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_OIDC_ISSUER
        - name: DIFI_USER_INFO_URL
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DIFI_USER_INFO_URL
        - name: DATASERVICE_CATALOG_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DATASERVICE_CATALOG_BASE_URI
        - name: DEV_DATASERVICE_CATALOG_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_DATASERVICE_CATALOG_GUI_HOST
              optional: true
        - name: TERMS_AND_CONDITIONS_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_BASE_URI
        - name: DEV_TERMS_AND_CONDITIONS_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_TERMS_AND_CONDITIONS_GUI_HOST
              optional: true
        - name: SSO_API_KEY
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_API_KEY
        name: sso
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value SSO_MEMORY" .Values.SSO_MEMORY | quote }}
      restartPolicy: Always
status: {}
