apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: sso
  name: sso
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: sso
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: sso
    spec:
      containers:
      - env:
        envFrom:
          - secretRef:
            name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
        - name: PROXY_ADDRESS_FORWARDING
          valueFrom:
            secretKeyRef:
              name: sso-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: KEYCLOAK_PROXY_ADDRESS_FORWARDING
        - name: SSO_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_BASE_URI
        - name: REGISTRATION_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_BASE_URI
        - name: DEV_REGISTRATION_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_REGISTRATION_HOST
              optional: true
        - name: CONCEPT_CATALOGUE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CONCEPT_CATALOGUE_GUI_BASE_URI
        - name: DEV_CONCEPT_CATALOGUE_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_CONCEPT_CATALOGUE_HOST
              optional: true
        - name: FDK_ADMIN_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_GUI_BASE_URI
        - name: DEV_FDK_ADMIN_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_FDK_ADMIN_GUI_HOST
              optional: true
        - name: RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RECORDS_OF_PROCESSING_ACTIVITIES_GUI_BASE_URI
        - name: DEV_RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_RECORDS_OF_PROCESSING_ACTIVITIES_GUI_HOST
              optional: true
        - name: SMTP_FROM
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FROM
        - name: SMTP_FROM_NAME
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FROM_NAME
        - name: SMTP_HOST
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: HOST
        - name: SMTP_USER
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER
        - name: SMTP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PASSWORD
        - name: DATASERVICE_CATALOG_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DATASERVICE_CATALOG_BASE_URI
        - name: DEV_DATASERVICE_CATALOG_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_DATASERVICE_CATALOG_GUI_HOST
              optional: true
        - name: TERMS_AND_CONDITIONS_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_BASE_URI
        - name: DEV_TERMS_AND_CONDITIONS_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_TERMS_AND_CONDITIONS_GUI_HOST
              optional: true
        - name: SSO_API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_API_KEY
        - name: FDK_COMMUNITY_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_BASE_URI
        - name: DEV_FDK_COMMUNITY_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: dev-commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DEV_FDK_COMMUNITY_SERVICE_HOST
              optional: true
        - name: USE_DEMO_LOGO
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USE_DEMO_LOGO
              optional: true
        name: sso
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value SSO_MEMORY" .Values.SSO_MEMORY | quote }}
      restartPolicy: Always
status: {}
