apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: concept-catalog-gui
  name: concept-catalog-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: concept-catalog-gui
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: concept-catalog-gui
    spec:
      containers:
      - env:
        - name: NODE_ENV
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NODE_ENV
        - name: CONCEPT_REGISTRATION_API
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CONCEPT_CATALOG_BASE_URI
        - name: REGISTRATION_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CATALOG_PORTAL_BASE_URI
        - name: PUBLISHER_API
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_BASE_URI
        - name: ORGANIZATION_API
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ORGANIZATION_CATALOG_BASE_URI
        - name: PUBLISHER_DATA_AUTHORIZATION
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_API_AUTHORIZATION_KEY
              optional: true
        - name: SSO_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_BASE_URI
        - name: CONCEPT_API
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_BASE_URI
        - name: SEARCH_FULLTEXT_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_FULLTEXT_SEARCH_BASE_URI
        - name: SEARCH_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_SEARCH_SERVICE_BASE_URI
        - name: ADMIN_GUI_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_GUI_BASE_URI
        - name: SEARCH_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_PORTAL_BASE_URI
        - name: CATALOG_COMMENTS_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CATALOG_COMMENTS_SERVICE_BASE_URI
        - name: CONCEPT_CATALOG_FRONTEND_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CONCEPT_CATALOG_FRONTEND      
        - name: CATALOG_ADMIN_SERVICE_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CATALOG_ADMIN_SERVICE_BASE_URI
        - name: FDK_PORTAL_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_PORTAL_BASE_URI
        - name: CATALOG_ADMIN_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CATALOG_ADMIN_BASE_URI
        - name: USE_DEMO_LOGO
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USE_DEMO_LOGO
              optional: true
        name: concept-catalog-gui
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value CONCEPT_CATALOG_GUI_MEMORY" .Values.CONCEPT_CATALOG_GUI_MEMORY | quote }}
            cpu: {{ required "Missing value CONCEPT_CATALOG_GUI_CPU" .Values.CONCEPT_CATALOG_GUI_CPU | quote }}
          limits:
            memory: {{ required "Missing value CONCEPT_CATALOG_GUI_MEMORY" .Values.CONCEPT_CATALOG_GUI_MEMORY | quote }}
      restartPolicy: Always
