apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-community-service
  name: fdk-community-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-community-service
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-community-service
    spec:
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAMESPACE
        - name: config
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_CONFIG
        - name: API_TOKEN
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_API_TOKEN
        - name: API_TOKEN_WRITE
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_API_TOKEN_WRITE
        - name: SMTP_SERVER
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_SMTP_SERVER
        - name: SMTP_PORT
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_SMTP_PORT
        - name: SMTP_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_SMTP_HOSTNAME
        - name: BASE_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_BASE_URI
        - name: TEST_MODE
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TEST_MODE
        - name: TEST_EMAIL
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TEST_EMAIL
        - name: TOKEN_UID
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TOKEN_UID
        - name: TOKEN_UID
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TOKEN_UID
        - name: SMTP_TLS_CA
          value: /usr/src/app/certs/ca.crt
        - name: SMTP_TLS_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: fdk-community-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_COMMUNITY_SERVICE_SMTP_TLS_HOSTNAME  
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: fdk-community-service
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_COMMUNITY_SERVICE_MEMORY" .Values.FDK_COMMUNITY_SERVICE_MEMORY | quote }}
        volumeMounts:
          - name: fdk-community-service-claim0
            mountPath: /usr/src/app/files
          - name: smtp-certs
            mountPath: /usr/src/app/certs
      securityContext:
        fsGroup: 1000
      volumes:
        - name: fdk-community-service-claim0
          persistentVolumeClaim:
            claimName: fdk-community-service-claim0
        - name: smtp-certs
          secret:
            secretName: smtp-certs
      restartPolicy: Always
status: {}
