apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-community-service
  name: fdk-community-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-community-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        fdk.service: fdk-community-service
    spec:
      initContainers:
        - name: copy-config
          image: busybox
          command: ['sh', '-c', 'cp /etc/secrets/config/config.json /usr/src/app/files/config.json && chmod 644 /usr/src/app/files/config.json']
          volumeMounts:
            - mountPath: /etc/secrets/config
              name: config-secret-volume
              readOnly: true
            - mountPath: /usr/src/app/files
              name: fdk-community-service-claim0
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common
              key: NAMESPACE
        - name: CONFIG
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_CONFIG
        - name: API_TOKEN
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_API_TOKEN
        - name: API_TOKEN_WRITE
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_API_TOKEN_WRITE
        - name: SMTP_SERVER
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_SERVER
        - name: SMTP_PORT
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_PORT
        - name: SMTP_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_HOSTNAME
        - name: BASE_URL
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: FDK_COMMUNITY_BASE_URI
        - name: TEST_MODE
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: TEST_MODE
        - name: TEST_EMAIL
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: TEST_EMAIL
        - name: TOKEN_UID
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: TOKEN_UID
        - name: SMTP_TLS_CA
          value: /usr/src/app/certs/ca.crt
        - name: SMTP_TLS_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_TLS_HOSTNAME  
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: fdk-community-service
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_COMMUNITY_SERVICE_MEMORY" .Values.FDK_COMMUNITY_SERVICE_MEMORY | quote }}
            cpu: {{ required "Missing value FDK_COMMUNITY_SERVICE_CPU" .Values.FDK_COMMUNITY_SERVICE_CPU | quote }}
          limits:
            memory: {{ required "Missing value FDK_COMMUNITY_SERVICE_MEMORY" .Values.FDK_COMMUNITY_SERVICE_MEMORY | quote }}
        volumeMounts:
          - name: fdk-community-service-claim0
            mountPath: /usr/src/app/files
          - name: smtp-certs
            mountPath: /usr/src/app/certs
      securityContext:
        fsGroup: 1000
      volumes:
        - name: fdk-community-service-claim0
          persistentVolumeClaim:
            claimName: fdk-community-service-claim0
        - name: smtp-certs
          secret:
            secretName: smtp-certs
        - name: config-secret-volume
          secret:
            secretName: fdk-community-config
      restartPolicy: Always
