apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: fdk-community-service
  name: fdk-community-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "4567"
      port: 4567
      targetPort: 4567
    - name: "8080"
      port: 8080
      targetPort: 4567
  selector:
    fdk.service: fdk-community-service
