apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-mqa-scoring-api
  name: fdk-mqa-scoring-api
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-mqa-scoring-api
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-mqa-scoring-api
    spec:
      containers:
      - env:
        - name: ENVIRONMENT
          valueFrom:
            secretKeyRef:
              name: common
              key: NAMESPACE
        - name: POSTGRES_HOST
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: POSTGRES_HOST
        - name: POSTGRES_PORT
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: POSTGRES_PORT
        - name: POSTGRES_DB_NAME
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: POSTGRES_DB_NAME
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: POSTGRES_USERNAME
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: POSTGRES_PASSWORD
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: API_KEY
        name: fdk-mqa-scoring-api
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8082
        resources:
          requests:
            memory: {{ required "Missing value FDK_METADATA_SCORING_API_MEMORY" .Values.FDK_METADATA_SCORING_API_MEMORY | quote }}
            cpu: {{ required "Missing value FDK_METADATA_SCORING_API_CPU" .Values.FDK_METADATA_SCORING_API_CPU | quote }}
          limits:
            memory: {{ required "Missing value FDK_METADATA_SCORING_API_MEMORY" .Values.FDK_METADATA_SCORING_API_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8082
        readinessProbe:
          httpGet:
            path: /ready
            port: 8082
      restartPolicy: Always
