apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-informationmodel-harvester
  name: fdk-informationmodel-harvester
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-informationmodel-harvester
    spec:
      containers:
      - env:
        - name: FDK_ES_CLUSTERNAME
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_CLUSTERNAME
        - name: FDK_ES_CLUSTERNODES
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_CLUSTERNODES
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SPRING_PROFILES_ACTIVE
        - name: FDK_ALTINN_MODELS_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ALTINN_MODELS_URL
        - name: HARVEST_ADMIN_ROOT_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_HARVEST_ADMIN_API_URI
        - name: RABBIT_USERNAME
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_USERNAME
        - name: RABBIT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_PASSWORD
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: fdk-informationmodel-harvester
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_INFORMATIONMODEL_HARVESTER_MEMORY" .Values.FDK_INFORMATIONMODEL_HARVESTER_MEMORY | quote }}
      restartPolicy: Always
status: {}