apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: fdk-reference-data-cache
  name: fdk-reference-data-cache
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 6379
  - name: "6379"
    port: 6379
    targetPort: 6379
  selector:
    app: fdk-reference-data-cache
status:
  loadBalancer: {}