apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    dataservice-publisher.service: dataservice-publisher-sparql-service
  name: dataservice-publisher-sparql-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      dataservice-publisher.service: dataservice-publisher-sparql-service
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        dataservice-publisher.service: dataservice-publisher-sparql-service
    spec:
      containers:
        - env:
            - name: NAMESPACE
              valueFrom:
                secretKeyRef:
                  name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: NAMESPACE
          name: dataservice-publisher-sparql-service
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value DATASERVICE_PUBLISHER_SPARQL_SERVICE_MEMORY" .Values.DATASERVICE_PUBLISHER_SPARQL_SERVICE_MEMORY | quote }}
          volumeMounts:
            - mountPath: /app/store
              name: dataservice-publisher-sparql-service-claim0
      securityContext:
        runAsUser: 1001
        runAsGroup: 1001
        fsGroup: 1001
      restartPolicy: Always
      volumes:
        - name: dataservice-publisher-sparql-service-claim0
          persistentVolumeClaim:
            claimName: dataservice-publisher-sparql-service-claim0
status: {}