apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    dataservice-publisher.service: dataservice-publisher-sparql-service
  name: dataservice-publisher-sparql-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 3030
  - name: "3030"
    port: 3030
    targetPort: 3030
  selector:
    dataservice-publisher.service: dataservice-publisher-sparql-service
status:
  loadBalancer: {}