apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataservice-publisher-triplestore
  name: dataservice-publisher-triplestore
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 3030
  - name: "3030"
    port: 3030
    targetPort: 3030
  selector:
    fdk.service: dataservice-publisher-triplestore
status:
  loadBalancer: {}