apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: dcat-ap-no-validator
  name: dcat-ap-no-validator
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    app: dcat-ap-no-validator
status:
  loadBalancer: {}
