apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-cms-service
  name: fdk-cms-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-cms-service
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        fdk.service: fdk-cms-service
    spec:
      containers:
      - env:
        - name: NODE_ENV
          valueFrom:
            secretKeyRef:
              name: common
              key: NODE_ENV   
        - name: SERVER_URL
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: SERVER_URL  
        - name: APP_KEYS
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: APP_KEYS   
        - name: API_TOKEN_SALT
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: API_TOKEN_SALT
        - name: CORS_ORIGIN
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: CORS_ORIGIN
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: JWT_SECRET
        - name: ADMIN_JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: ADMIN_JWT_SECRET
        - name: POSTGRES_HOST
          valueFrom:
            secretKeyRef:
              name: postgres
              key: HOST
        - name: POSTGRES_PORT
          valueFrom:
            secretKeyRef:
              name: postgres
              key: PORT
        - name: POSTGRES_NAME
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: POSTGRES_DB_NAME
        - name: POSTGRES_SSL_SELF
          valueFrom:
            secretKeyRef:
              name: fdk-cms
              key: POSTGRES_SSL_SELF
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres
              key: USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres
              key: PASSWORD
        - name: SMTP_SERVER
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_SERVER
        - name: SMTP_PORT
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_PORT
        - name: SMTP_HOSTNAME
          valueFrom:
            secretKeyRef:
              name: fdk-community
              key: FDK_COMMUNITY_SERVICE_SMTP_HOSTNAME
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: fdk-cms-service
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_CMS_SERVICE_MEMORY" .Values.FDK_CMS_SERVICE_MEMORY | quote }}
            cpu: {{ required "Missing value FDK_CMS_SERVICE_CPU" .Values.FDK_CMS_SERVICE_CPU | quote }}
          limits:
            memory: {{ required "Missing value FDK_CMS_SERVICE_MEMORY" .Values.FDK_CMS_SERVICE_MEMORY | quote }}
        volumeMounts:
          - mountPath: /app/public/uploads
            name: fdk-cms-service-claim0
      volumes:
        - name: fdk-cms-service-claim0
          persistentVolumeClaim:
            claimName: fdk-cms-service-claim0
      restartPolicy: Always
