apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-cms-service
  name: fdk-cms-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-cms-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-cms-service
    spec:
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAMESPACE
        - name: POSTGRES_HOST
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: HOST
        - name: POSTGRES_PORT
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PORT
        - name: POSTGRES_NAME
          valueFrom:
            secretKeyRef:
              name: fdk-cms-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: POSTGRES_DB_NAME
        - name: ADMIN_JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: fdk-cms-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_JWT_SECRET
        - name: CONNECTION
          valueFrom:
            secretKeyRef:
              name: fdk-cms-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: CONNECTION
        - name: POSTGRES_SSL_SELF
          valueFrom:
            secretKeyRef:
              name: fdk-cms-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: POSTGRES_SSL_SELF
        - name: POSTGRES_USERNAME
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER
        - name: POSTGRES_PASSWORD
          valueFrom:
            secretKeyRef:
              name: postgres-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: PASSWORD
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: fdk-cms-service
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_CMS_SERVICE_MEMORY" .Values.FDK_CMS_SERVICE_MEMORY | quote }}
        volumeMounts:
          - mountPath: /public/uploads
            name: fdk-cms-service-claim0
      volumes:
        - name: fdk-cms-service-claim0
          persistentVolumeClaim:
            claimName: fdk-cms-service-claim0
      restartPolicy: Always
status: {}
