apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-nginx-search
  name: fdk-nginx-search
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-nginx-search
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-nginx-search
    spec:
      containers:
        - image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: fdk-nginx-search
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_NGINX_SEARCH_MEMORY" .Values.FDK_NGINX_SEARCH_MEMORY | quote }}
      restartPolicy: Always
status: {}