apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-rdf-parser-service
  name: fdk-rdf-parser-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8000"
    port: 8000
    targetPort: 8000
  selector:
    fdk.service: fdk-rdf-parser-service
status:
  loadBalancer: {}
