apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-mail-sender-service
  name: fdk-mail-sender-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-mail-sender-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-mail-sender-service
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
      - env:
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: API_KEY
        - name: SMTP_HOST
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SMTP_HOST
        - name: SMTP_PORT
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SMTP_PORT
              optional: true
        - name: SMTP_USER
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SMTP_USER
              optional: true
        - name: SMTP_PASSWORD
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SMTP_PASSWORD
              optional: true
        - name: SMTP_EHLO_DOMAIN
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SMTP_EHLO_DOMAIN
              optional: true
        - name: TLS_DOMAIN
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TLS_DOMAIN
              optional: true
        - name: TLS_CERT
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: TLS_CERT
              optional: true
        - name: ALLOWED_SENDERS
          valueFrom:
            secretKeyRef:
              name: fdk-smtp-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ALLOWED_SENDERS
              optional: true
        name: fdk-mail-sender-service
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_MAIL_SENDER_SERVICE_MEMORY" .Values.FDK_MAIL_SENDER_SERVICE_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /livez
            port: 8080
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8080
      restartPolicy: Always
