apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-sparql-gui
  name: fdk-sparql-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-sparql-gui
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-sparql-gui
    spec:
      containers:
      - env:
        - name: SPARQL_API_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: FDK_SPARQL_API_BASE_URI
        - name: USE_DEMO_LOGO
          valueFrom:
            secretKeyRef:
              name: common
              key: USE_DEMO_LOGO
              optional: true
        - name: FDK_COMMUNITY_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl
              key: FDK_COMMUNITY_BASE_URI
        name: fdk-sparql-gui
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_SPARQL_GUI_MEMORY" .Values.FDK_SPARQL_GUI_MEMORY | quote }}
      restartPolicy: Always
status: {}
