apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: dcat-ap-no-validator-service
  name: dcat-ap-no-validator-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: dcat-ap-no-validator-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: dcat-ap-no-validator-service
    spec:
      containers:
      - env:
        - name: REDIS_PASSWORD
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DCAT_AP_NO_VALIDATOR_CACHE_PASSWORD
        - name: REDIS_HOST
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DCAT_AP_NO_VALIDATOR_CACHE_ENDPOINT
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        name: dcat-ap-no-validator-service
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value DCAT_AP_NO_VALIDATOR_SERVICE_MEMORY" .Values.DCAT_AP_NO_VALIDATOR_SERVICE_MEMORY | quote }}
            cpu: {{ required "Missing value DCAT_AP_NO_VALIDATOR_SERVICE_CPU" .Values.DCAT_AP_NO_VALIDATOR_SERVICE_CPU | quote }}
          limits:
            memory: {{ required "Missing value DCAT_AP_NO_VALIDATOR_SERVICE_MEMORY" .Values.DCAT_AP_NO_VALIDATOR_SERVICE_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 150
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
