apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: new-dataset-harvester
  name: new-dataset-harvester
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: new-dataset-harvester
    spec:
      containers:
        - env:
          - name: FDK_FUSEKI_SERVICE_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_FUSEKI_SERVICE_URI
          - name: FDK_DATASET_HARVESTER_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_DATASET_HARVESTER_BASE_URI
          - name: RABBIT_USERNAME
            valueFrom:
              secretKeyRef:
                name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_USERNAME
          - name: RABBIT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_PASSWORD
          - name: HARVEST_ADMIN_ROOT_URL
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_HARVEST_ADMIN_API_URI
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: new-dataset-harvester
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_DATASET_HARVESTER_MEMORY" .Values.FDK_DATASET_HARVESTER_MEMORY | quote }}
      restartPolicy: Always
status: {}