apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: static-rdf-server
    app: static-rdf
  name: static-rdf-server
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: static-rdf
      fdk.service: static-rdf-server
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: static-rdf
        fdk.service: static-rdf-server
    spec:
      affinity:
        podAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
          - labelSelector:
              matchExpressions:
              - key: app
                operator: In
                values:
                - static-rdf
            topologyKey: "kubernetes.io/hostname"
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAMESPACE
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: STATIC_RDF_SERVER_API_KEY
        name: static-rdf-server
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        - containerPort: 5000
        resources:
          requests:
            memory: {{ required "Missing value STATIC_RDF_SERVER_MEMORY" .Values.STATIC_RDF_SERVER_MEMORY | quote }}
        volumeMounts:
          - mountPath: /srv/www/static-rdf-server
            name: static-rdf-server-claim0
        livenessProbe:
          httpGet:
            path: /ping
            port: 5000
          initialDelaySeconds: 60
          periodSeconds: 90
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 5000
          initialDelaySeconds: 120
          periodSeconds: 90
          successThreshold: 1
          failureThreshold: 5
      volumes:
        - name: static-rdf-server-claim0
          persistentVolumeClaim:
            claimName: static-rdf-server-claim0
      restartPolicy: Always
status: {}
