apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: static-rdf-server
  name: static-rdf-server
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 5000
  - name: "5000"
    port: 5000
    targetPort: 5000
  selector:
    fdk.service: static-rdf-server
