apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: static-rdf
  name: static-rdf-server
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 5000
  - name: "5000"
    port: 5000
    targetPort: 5000
  selector:
    app: static-rdf
status:
  loadBalancer: {}
