apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: user-api
  name: user-api
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: user-api
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: user-api
    spec:
      containers:
      - env:
        - name: ALTINN_PROXY_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ALTINN_PROXY_URL
        - name: ORGNR_WHITELIST
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ORGNR_WHITELIST
        - name: ORGFORM_WHITELIST
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ORGFORM_WHITELIST
        - name: ADMIN_LIST
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_LIST
        - name: SSO_API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SSO_API_KEY
        - name: USER_API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USER_API_KEY
        - name: WRITE_GROUP_BRREG
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: BRREG_OIDC_WRITE_GROUP
        - name: ADMIN_GROUP_BRREG
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: BRREG_OIDC_ADMIN_GROUP
        - name: ADMIN_GROUP_SKATT
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SKATT_OIDC_ADMIN_GROUP
        - name: WRITE_GROUP_SKATT
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SKATT_OIDC_WRITE_GROUP
        - name: READ_GROUP_SKATT
          valueFrom:
            secretKeyRef:
              name: user-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SKATT_OIDC_READ_GROUP
        - name: TERMS_AND_CONDITIONS_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_TERMS_AND_CONDITIONS_BASE_URI
        name: user-api
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value USER_API_MEMORY" .Values.USER_API_MEMORY | quote }}
            cpu: {{ required "Missing value USER_API_CPU" .Values.USER_API_CPU | quote }}
          limits:
            memory: {{ required "Missing value USER_API_MEMORY" .Values.USER_API_MEMORY | quote }}
      restartPolicy: Always
