apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataset-catalogue
  name: dataset-catalogue
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: '8080'
      port: 8080
      targetPort: 8080
  selector:
    fdk.service: dataset-catalogue
status:
  loadBalancer: {}
