apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-dataset-event-publisher
  name: fdk-dataset-event-publisher
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-dataset-event-publisher
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-dataset-event-publisher
    spec:
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAMESPACE
        - name: SCHEMA_REGISTRY
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SCHEMA_REGISTRY
        - name: BROKERS
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: BROKERS
        - name: RABBIT_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_USER
        - name: RABBIT_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_PASS
        - name: RABBIT_HOST
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_HOST
        - name: RABBIT_PORT
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_PORT
        - name: HARVESTER_API_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_DATASET_HARVESTER_URI
        name: fdk-dataset-event-publisher
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        resources:
          requests:
            memory: {{ required "Missing value FDK_DATASET_EVENT_PUBLISHER_MEMORY" .Values.FDK_DATASET_EVENT_PUBLISHER_MEMORY | quote }}
        livenessProbe:
          exec:
            command:
              - "true"
        readinessProbe:
          exec:
            command:
              - "true"
      restartPolicy: Always
