apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-nginx-enhetsregisteret-proxy-mock
  name: fdk-nginx-enhetsregisteret-proxy-mock
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-nginx-enhetsregisteret-proxy-mock
    spec:
      containers:
        - image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: fdk-nginx-enhetsregisteret-proxy-mock
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_NGINX_ENHETSREGISTERET_PROXY_MOCK_MEMORY" .Values.FDK_NGINX_ENHETSREGISTERET_PROXY_MOCK_MEMORY | quote }}
      restartPolicy: Always
status: {}