apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: static-rdf-server
  name: static-rdf-nginx
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    app: static-rdf
status:
  loadBalancer: {}