apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-mqa-url-checker
  name: fdk-mqa-url-checker
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-mqa-url-checker
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-mqa-url-checker
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
      - env:
        - name: NAMESPACE
          valueFrom:
            secretKeyRef:
              name: common
              key: NAMESPACE
        - name: SCHEMA_REGISTRY
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: SCHEMA_REGISTRY
        - name: BROKERS
          valueFrom:
            secretKeyRef:
              name: fdk-metadata-quality
              key: BROKERS
        name: fdk-mqa-url-checker
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
          - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_MQA_URL_CHECKER_MEMORY" .Values.FDK_MQA_URL_CHECKER_MEMORY | quote }}
            cpu: {{ required "Missing value FDK_MQA_URL_CHECKER_CPU" .Values.FDK_MQA_URL_CHECKER_CPU | quote }}
          limits:
            memory: {{ required "Missing value FDK_MQA_URL_CHECKER_MEMORY" .Values.FDK_MQA_URL_CHECKER_MEMORY | quote }}
        livenessProbe:
          exec:
            command:
              - "true"
        readinessProbe:
          exec:
            command:
              - "true"
      restartPolicy: Always
