apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: fdk-sparql-service
  name: fdk-sparql-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    app: fdk-sparql-service
status:
  loadBalancer: {}