apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataservice-catalog
  name: dataservice-catalog
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: dataservice-catalog
    spec:
      containers:
      - env:
        - name: SPRING_PROFILES_ACTIVE
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SPRING_PROFILES_ACTIVE
        - name: registrationApi_harvesterPassword
          valueFrom:
            secretKeyRef:
              name: fdk-registration-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_API_HARVESTERPASSWORD
        - name: registrationApi_harvesterUsername
          valueFrom:
            secretKeyRef:
              name: fdk-registration-api-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_API_HARVESTERUSERNAME
        - name: FDK_ES_CLUSTERNODES
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_CLUSTERNODES
        - name: FDK_ES_CLUSTERNAME
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_CLUSTERNAME
        - name: CATALOG_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REGISTRATION_BASE_URI
        name: dataservice-catalog
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value DATASERVICE_CATALOG_MEMORY" .Values.DATASERVICE_CATALOG_MEMORY | quote }}
      restartPolicy: Always
status: {}