apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: model-publisher
  name: model-publisher
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8081
  selector:
    fdk.service: model-publisher
status:
  loadBalancer: {}
