apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: dataservice-catalog-gui
  name: dataservice-catalog-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    fdk.service: dataservice-catalog-gui
