apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: new-records-of-processing-activities
  name: new-records-of-processing-activities
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    fdk.service: new-records-of-processing-activities
status:
  loadBalancer: {}
