apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataset-publisher
  name: dataset-publisher
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: dataset-publisher
    spec:
      containers:
      - env:
        - name: HOST_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DATASET_PUBLISHER_URI
        - name: PUBLISHER_URL
          valueFrom:
            secretKeyRef:
              name: fdk-dataset-harvester-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_HARVESTER_API_APPLICATION_OPENDATAENHET
        name: dataset-publisher
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value DATASET_PUBLISHER_MEMORY" .Values.DATASET_PUBLISHER_MEMORY | quote }}
      restartPolicy: Always
status: {}
