apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataservice-publisher
  name: dataservice-publisher
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: dataservice-publisher
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: dataservice-publisher
    spec:
      containers:
      - env:
        - name: DATASERVICE_PUBLISHER_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DATASERVICE_PUBLISHER_URI
        - name: ADMIN_USERNAME
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_USERNAME
        - name: ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ADMIN_PASSWORD
        - name: FUSEKI_PASSWORD
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FUSEKI_PASSWORD
        - name: SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: SECRET_KEY
        - name: FUSEKI_HOST
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FUSEKI_HOST
        - name: FUSEKI_PORT
          valueFrom:
            secretKeyRef:
              name: dataservice-publisher-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FUSEKI_PORT
        name: dataservice-publisher
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value DATASERVICE_PUBLISHER_MEMORY" .Values.DATASERVICE_PUBLISHER_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
status: {}
