apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-fulltext-search
  name: fdk-fulltext-search
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector: {}
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-fulltext-search
    spec:
      containers:
      - env:
        - name: HOST_PORT
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: STANDARD_PORT
        - name: ELASTIC_PORT
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_PORT
        - name: ELASTIC_TCP_PORT
          valueFrom:
            secretKeyRef:
              name: elasticsearch-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_TCP_PORT
        - name: API_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_API_URI
        name: fdk-fulltext-search
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_FULLTEXT_SEARCH_MEMORY" .Values.FDK_FULLTEXT_SEARCH_MEMORY | quote }}
      restartPolicy: Always
status: {}
