apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-fulltext-search
  name: fdk-fulltext-search
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-fulltext-search
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-fulltext-search
    spec:
      containers:
      - env:
        - name: HOST_PORT
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: STANDARD_PORT
        - name: ELASTIC_HOST
          valueFrom:
            secretKeyRef:
              name: elasticsearch7-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_HOST
        - name: ELASTIC_PORT
          valueFrom:
            secretKeyRef:
              name: elasticsearch7-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_PORT
        - name: ELASTIC_TCP_PORT
          valueFrom:
            secretKeyRef:
              name: elasticsearch7-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_ES_TCP_PORT
        - name: RABBIT_USER
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_USER
        - name: RABBIT_PASS
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_PASSWORD
        - name: RABBIT_HOST
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_HOST
        - name: RABBIT_PORT
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBIT_PORT
        - name: API_URL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_API_URI
        - name: FDK_REFERENCE_DATA_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REFERENCE_DATA_BASE_URI
        - name: FDK_BASE_URI
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_BASE_URI
        - name: API_KEY
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_FULLTEXT_SEARCH_API_KEY
        - name: REASONING_SERVICE_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REASONING_SERVICE_URI
        name: fdk-fulltext-search
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_FULLTEXT_SEARCH_MEMORY" .Values.FDK_FULLTEXT_SEARCH_MEMORY | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 20
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 150
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
status: {}
