# Copyright 2018 Google Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: postgresql-sqlproxy
  name: postgresql-sqlproxy
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
  annotations:
    cluster-autoscaler.kubernetes.io/safe-to-evict: "true"
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: postgresql-sqlproxy
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: postgresql-sqlproxy
    spec:
      serviceAccountName: cloud-sql-sa
      nodeSelector:
        workload-identity: enabled
      tolerations:
        - key: "workload-identity"
          operator: "Equal"
          value: "only"
          effect: "NoSchedule"
      containers:
        - name: postgresql-sqlproxy
          image: {{ required "Missing value FDK_POSTGRESQL_IMAGE" .Values.FDK_POSTGRESQL_IMAGE }}
          resources:
            requests:
              memory: {{ required "Missing value FDK_POSTGRESQL_MEMORY" .Values.FDK_POSTGRESQL_MEMORY | quote }}
              cpu: {{ required "Missing value FDK_POSTGRESQL_CPU" .Values.FDK_POSTGRESQL_CPU | quote }}
            limits:
              memory: {{ required "Missing value FDK_POSTGRESQL_MEMORY" .Values.FDK_POSTGRESQL_MEMORY | quote }}
          volumeMounts:
            - name: ssl-certs
              mountPath: /etc/ssl/certs
          command: ["/cloud-sql-proxy",
                    "--structured-logs",
                    "--address=0.0.0.0",
                    "--port=5432",
                    "{{ required "Missing value FDK_SQL_PROXY_CLUSTER" .Values.FDK_SQL_PROXY_CLUSTER }}:europe-north1:{{ required "Missing value FDK_SQL" .Values.FDK_SQL }}-{{ required "Missing value FDK_SQL_PROXY_SQL_ENVIRONMENT" .Values.FDK_SQL_PROXY_SQL_ENVIRONMENT }}"]
          imagePullPolicy: Always
          livenessProbe:
            tcpSocket:
              port: 5432
            initialDelaySeconds: 20
            periodSeconds: 10
            timeoutSeconds: 1
            successThreshold: 1
            failureThreshold: 3
          ports:
            - containerPort: 5432
              protocol: TCP
          terminationMessagePath: /dev/termination-log
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
        - name: ssl-certs
          hostPath:
            path: /etc/ssl/certs
