{{- range .Values.kinds }}
---
apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: fdk-{{ .kind }}-diff-store
  name: fdk-{{ .kind }}-diff-store
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    fdk.service: fdk-{{ .kind }}-diff-store
{{- end }}
