apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: fdk-rdf-diff-store
  name: fdk-rdf-diff-store
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: http
    port: 8080
    targetPort: 8080
  selector:
    fdk.service: fdk-rdf-diff-store
