apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-harvest-scheduler
  name: fdk-harvest-scheduler
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-harvest-scheduler
    spec:
      containers:
      - env:
        - name: RABBIT_HOST
          value: {{ required "Missing value FDK_HARVEST_SCHEDULER_RABBIT_HOST" .Values.FDK_HARVEST_SCHEDULER_RABBIT_HOST}}
        - name: RABBIT_PORT
          value: {{ required "Missing value FDK_HARVEST_SCHEDULER_RABBIT_PORT" .Values.FDK_HARVEST_SCHEDULER_RABBIT_PORT | quote }}
        - name: RABBIT_PASS
          valueFrom:
            secretKeyRef:
              name: fdk-harvest-scheduler-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}-rabbitmq
              key: RABBIT_PASS
        - name: RABBIT_USER
          valueFrom:
            secretKeyRef:
              name: fdk-harvest-scheduler-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}-rabbitmq
              key: RABBIT_USER
        name: fdk-harvest-scheduler
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_HARVEST_SCHEDULER_MEMORY" .Values.FDK_HARVEST_SCHEDULER_MEMORY | quote }}
      restartPolicy: Always
status: {}
