apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: dataset-catalogue-gui
  name: dataset-catalogue-gui
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: dataset-catalogue-gui
    spec:
      containers:
      - env:
        - name: CONTAINER_IMAGE
          value: {{ required "Missing value SEARCH_IMAGE" .Values.SEARCH_IMAGE }}
        - name: NODE_ENV
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NODE_ENV
        - name: DISQUS_SHORTNAME
          valueFrom:
            secretKeyRef:
              name: disqus-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: DISQUS_SHORTNAME
        - name: SEARCH_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_BASE_URI
        - name: SEARCH_API_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_BASE_URI
        - name: NAP_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: NAP_HOST
        - name: SEARCH_API_AUTHORIZATION
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_API_AUTHORIZATION_KEY
              optional: true
        - name: USE_DEMO_LOGO
          valueFrom:
            secretKeyRef:
              name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: USE_DEMO_LOGO
              optional: true
        name: dataset-catalogue-gui
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value DATASET_CATALOGUE_GUI_MEMORY" .Values.DATASET_CATALOGUE_GUI_MEMORY | quote }}
      restartPolicy: Always
status: {}