apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: dcat-ap-no-validator-cache
  name: dcat-ap-no-validator-cache
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dcat-ap-no-validator-cache
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: dcat-ap-no-validator-cache
    spec:
      containers:
        - env:
          - name: REDIS_PASS
            valueFrom:
              secretKeyRef:
                name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: DCAT_AP_NO_VALIDATOR_CACHE_PASSWORD
          name: dcat-ap-no-validator-cache
          image: redis:latest
          imagePullPolicy: Always
          args: [ "--requirepass", "$(REDIS_PASS)", "--appendonly", "yes", "--save", "900", "1", "--save", "30", "1"]
          ports:
          - containerPort: 6379
            name: redis
          resources:
            requests:
              memory: {{ required "Missing value DCAT_AP_NO_VALIDATOR_CACHE_MEMORY" .Values.DCAT_AP_NO_VALIDATOR_CACHE_MEMORY | quote }}
              cpu: {{ required "Missing value DCAT_AP_NO_VALIDATOR_CACHE_CPU" .Values.DCAT_AP_NO_VALIDATOR_CACHE_CPU | quote }}
            limits:
                memory: {{ required "Missing value DCAT_AP_NO_VALIDATOR_CACHE_MEMORY" .Values.DCAT_AP_NO_VALIDATOR_CACHE_MEMORY | quote }}
          volumeMounts:
          - mountPath: /data
            name: dcat-ap-no-validator-cache-claim0
      restartPolicy: Always
      volumes:
      - name: dcat-ap-no-validator-cache-claim0
        persistentVolumeClaim:
          claimName: dcat-ap-no-validator-cache-claim0
status: {}