apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-nginx-dataservices
  name: fdk-nginx-dataservices
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-nginx-dataservices
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-nginx-dataservices
    spec:
      containers:
        - image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: fdk-nginx-dataservices
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_NGINX_RECORDS_MEMORY" .Values.FDK_NGINX_RECORDS_MEMORY | quote }}
      restartPolicy: Always
status: {}