apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: fdk-nginx-dataservices
  name: fdk-nginx-dataservices
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    fdk.service: fdk-nginx-dataservices
