apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: fdk-metadata-scoring-bff
  name: fdk-metadata-scoring-bff
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    fdk.service: fdk-metadata-scoring-bff
