apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-reasoning-service
  name: fdk-reasoning-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-reasoning-service
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-reasoning-service
    spec:
      containers:
      - env:
        - name: RABBIT_USERNAME
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_USERNAME
        - name: RABBIT_PASSWORD
          valueFrom:
            secretKeyRef:
              name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: RABBITMQ_PASSWORD
        - name: MONGO_USERNAME
          valueFrom:
            secretKeyRef:
              name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: MONGO_USERNAME
        - name: MONGO_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: MONGO_PASSWORD
        - name: ORGANIZATION_CATALOG_INTERNAL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ORGANIZATION_CATALOG_HOST
        - name: ORGANIZATION_CATALOG_EXTERNAL
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: ORGANIZATION_CATALOG_BASE_URI
        - name: REASONING_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REASONING_SERVICE_URI
        - name: REFERENCE_DATA_HOST
          valueFrom:
            secretKeyRef:
              name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
              key: FDK_REFERENCE_DATA_BASE_URI
        name: fdk-reasoning-service
        image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: {{ required "Missing value FDK_REASONING_SERVICE_MEMORY_REQ" .Values.FDK_REASONING_SERVICE_MEMORY_REQ | quote }}
            cpu: {{ required "Missing value FDK_REASONING_SERVICE_CPU_REQ" .Values.FDK_REASONING_SERVICE_CPU_REQ | quote }}
          limits:
            memory: {{ required "Missing value FDK_REASONING_SERVICE_MEMORY_LIMIT" .Values.FDK_REASONING_SERVICE_MEMORY_LIMIT | quote }}
            cpu: {{ required "Missing value FDK_REASONING_SERVICE_CPU_LIMIT" .Values.FDK_REASONING_SERVICE_CPU_LIMIT | quote }}
        livenessProbe:
          httpGet:
            path: /ping
            port: 8080
          initialDelaySeconds: 120
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
        readinessProbe:
          httpGet:
            path: /ready
            port: 8080
          initialDelaySeconds: 150
          periodSeconds: 30
          successThreshold: 1
          failureThreshold: 5
      restartPolicy: Always
status: {}
