apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: fdk-dataset-harvester
  name: fdk-dataset-harvester
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-dataset-harvester
  strategy:
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: fdk-dataset-harvester
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/path: "/prometheus"  
    spec:
      containers:
        - env:
          - name: FDK_DATASET_HARVESTER_URI
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: FDK_DATASET_HARVESTER_BASE_URI
          - name: RABBIT_USERNAME
            valueFrom:
              secretKeyRef:
                name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_USERNAME
          - name: RABBIT_PASSWORD
            valueFrom:
              secretKeyRef:
                name: rabbitmq-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: RABBITMQ_PASSWORD
          - name: HARVEST_ADMIN_ROOT_URL
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: ADMIN_API_BASE_URI
          - name: MONGO_USERNAME
            valueFrom:
              secretKeyRef:
                name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: MONGO_USERNAME
          - name: MONGO_PASSWORD
            valueFrom:
              secretKeyRef:
                name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: MONGO_PASSWORD
          - name: SSO_HOST
            valueFrom:
              secretKeyRef:
                name: commonurl-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                key: SSO_BASE_URI
          - name: ADMIN_API_KEY
            valueFrom:
              secretKeyRef:
                name: fdk-harvest-admin
                key: API_KEY
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: fdk-dataset-harvester
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{ required "Missing value FDK_DATASET_HARVESTER_MEMORY" .Values.FDK_DATASET_HARVESTER_MEMORY | quote }}
              cpu: {{ required "Missing value FDK_DATASET_HARVESTER_CPU_REQ" .Values.FDK_DATASET_HARVESTER_CPU_REQ | quote }}
            limits:
              memory: {{ required "Missing value FDK_DATASET_HARVESTER_MEMORY" .Values.FDK_DATASET_HARVESTER_MEMORY | quote }}
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
      restartPolicy: Always
status: {}