apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: new-harvest-admin
  name: new-harvest-admin
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
  selector:
    fdk.service: new-harvest-admin
status:
  loadBalancer: {}
