apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    fdk.service: fdk-mqa-assmentator
  name: fdk-mqa-assmentator
  namespace: '{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}'
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: fdk-mqa-assmentator
  strategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        fdk.service: fdk-mqa-assmentator
      annotations:
        prometheus.io/scrape: 'true'
    spec:
      containers:
        - env:
            - name: NAMESPACE
              valueFrom:
                secretKeyRef:
                  name: common-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: NAMESPACE
            - name: SCHEMA_REGISTRY
              valueFrom:
                secretKeyRef:
                  name: fdk-metadata-quality-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: SCHEMA_REGISTRY
            - name: BROKERS
              valueFrom:
                secretKeyRef:
                  name: fdk-metadata-quality-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: BROKERS
          name: fdk-mqa-assmentator
          image: '{{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}'
          imagePullPolicy: Always
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: '{{ required "Missing value FDK_MQA_ASSMENTATOR_MEMORY" .Values.FDK_MQA_ASSMENTATOR_MEMORY }}'
          livenessProbe:
            exec:
              command:
                - "true"
          readinessProbe:
            exec:
              command:
                - "true"
      restartPolicy: Always
