apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: catalog-history-service
  name: catalog-history-service
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
    - name: "8080"
      port: 8080
      targetPort: 8080
    - name: "9090"
      port: 9090
      targetPort: 8080
  selector:
    fdk.service: catalog-history-service
status:
  loadBalancer: {}
