apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    fdk.service: {{ required "Missing value APP_NAME" .Values.APP_NAME }}
  name: {{ required "Missing value APP_NAME" .Values.APP_NAME }}
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: "8080"
    port: 8080
    targetPort: 8080
  selector:
    fdk.service: {{ required "Missing value APP_NAME" .Values.APP_NAME }}
status:
  loadBalancer: {}
