---
apiVersion: v1
kind: Service
metadata:
  labels:
    fdk.service: rdf-prettifier
  name: rdf-prettifier
  namespace: {{ required "Missing value NAMESPACE" $.Values.NAMESPACE }}
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
  selector:
    fdk.service: rdf-prettifier
