apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    fdk.service: terms-and-conditions
  name: terms-and-conditions
  namespace: {{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
spec:
  replicas: 1
  selector:
    matchLabels:
      fdk.service: terms-and-conditions
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        fdk.service: terms-and-conditions
    spec:
      containers:
        - env:
            - name: MONGO_USERNAME
              valueFrom:
                secretKeyRef:
                  name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: MONGO_USERNAME
            - name: MONGO_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: mongo-{{ required "Missing value NAMESPACE" .Values.NAMESPACE }}
                  key: MONGO_PASSWORD
          image: {{ required "Missing value DOCKER_IMAGE_NAME" .Values.DOCKER_IMAGE_NAME }}
          imagePullPolicy: Always
          name: terms-and-conditions
          ports:
            - containerPort: 8080
          resources:
            requests:
              memory: {{  required "Missing value TERMS_AND_CONDITIONS_MEMORY" .Values.TERMS_AND_CONDITIONS_MEMORY | quote }}
          livenessProbe:
            httpGet:
              path: /ping
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /ready
              port: 8080
            initialDelaySeconds: 20
            periodSeconds: 30
            successThreshold: 1
            failureThreshold: 5
      restartPolicy: Always
status: {}